[submodule "Bibles/Spanish.BibliaLibreParaElMundo/src/bibleedit/spablm"]
	path = Bibles/Spanish.BibliaLibreParaElMundo/src/bibleedit/spablm
	url = https://github.com/simonegli8/spablm
[submodule "BibleMarkdown"]
	path = BibleMarkdown
	url = https://github.com/biblia-del-pueblo/BibleMarkdown
